html,
body {
  margin: 0;
  padding: 0;
}
/* navbar css*/
.menubar {
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 10px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#youlogo {
  color: red;
  font-size: 30px;
}
#name {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
#kr {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  position: relative;
  bottom: 10px;
  font-family: "Roboto", sans-serif;
}
input {
  width: 575px;
  height: 30px;
  border: 1px solid #ccc;
}
#enter {
  width: 65px;
  border: 1px solid #ccc;
  height: 30px;
}
.th {
  color: gray;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#login {
  border: 1px solid #065fd4;
  padding: 8px;
  color: #065fd4;
  margin-right: 15px;
  background-color: white;
}
.fa-user {
  font-size: 15px;
  color: white;
  border-radius: 50%;
  background-color: #065fd4;
}
.fa-th,
.fa-ellipsis-v,
#login {
  margin-left: 30px;
}
.fa-th,
.fa-ellipsis-v {
  font-size: 15px;
}
.fa-user {
  padding: 5px;
}
#word {
  font-size: 15px;
  padding: 5px;
}
/* sidebar css */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  height: 100%;
  overflow-x: hidden;
  width: 240px;
}
.sidebar::-webkit-scrollbar {
  width: 8px;
}
.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
}
.sidebar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.sidebar i {
  padding-left: 8px;
}
.sidebar a {
  color: black;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
}
#active {
  background-color: rgb(230, 230, 230);
}
#active i {
  color: red;
}
.sidebar a:hover {
  background-color: #eee;
}
hr {
  color: black;
}
.sidebar i {
  color: gray;
  padding-right: 20px;
  width: 20px;
}
#login_plz {
  padding-left: 10px;
  font-size: 14px;
  line-height: 23px;
}
#login2 i {
  color: white;
}
#login2 {
  margin-left: 10px;
  padding: 6px;
  width: 120px;
  height: 43px;
  border: 1px solid #065fd4;
  font-style: 20px;
  background-color: white;
  margin-bottom: 8px;
}
#login2 .fa-user {
  padding: 6px;
  font-size: 15px;
}
hr {
  border: 1px solid#eee;
  width: 100% !important;
}
#popular {
  font-size: 13px;
  font-weight: bold;
  color: #606060;
  padding: 8px 24px;
}
#address {
  font-size: 13px;
  color: #606060;
  margin: 0 auto;
}
/* contents 부분 */
.contents {
  margin-top: 60px;
  margin-left: 240px;
  height: 100%;

  background-color: #eee;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 5px;
}
iframe {
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 10px;
}
#introduce {
  padding-top: 0;
  padding-left: 15px;
  margin: 0 auto;
  color: black;
  text-decoration: none;
}
